{% extends 'main/base.html' %}
{% block title_block %}
    <h1>{{ name }} Page</h1>
{% endblock %}
{% block body_block %}
    <div class="container">
        <div class="row">
             <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title">Profile Information</h3>
                </div>
                <div class="card-body">
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th class="text-muted">User name:</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th class="text-muted">First name:</th>
                                <td>{{ user.first_name }}</td>
                            </tr>
                            <tr>
                                <th class="text-muted">Last name:</th>
                                <td>{{ user.last_name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="card-title">Profile Actions</h3>
                </div>
                <div class="card-body">
                     <form method="post">
                        {% csrf_token %}
                        <input type="text", name="username", id="username", value="", placeholder="{{user.username}}">
                            <button class="btn btn-primary" name="set_username" type="submit" value="set_username">Adjust Username</button>
                        <br>
                        {{error}}
                    </form>
                      {% if user.user_type == 1 %}
                     <hr>
                        <form method="post">
                            {% csrf_token %}
                            <input type="number" name="hourly_rate" id="hourly_rate" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$"
                       value="" data-type="currency" placeholder={{user.tutor_rate}} step=".01" min="0" max="99.99" required>
                                    <button class="btn btn-primary" name="set_hourly" type="submit" value="set_hourly">Set Rate</button>
                        </form>
                            <p>Current hourly rate: {{user.tutor_rate}}</p>
                {% endif %}

               </div>
            </div>
        </div>
            <div style="margin-top:30px;">
                <form method = "POST">{% csrf_token %}
                    <button class="btn btn-danger" name="logout" value="logout" type="submit">Logout</button>
                </form>
                </form>
            </div>
        </div>
    </div>
{% endblock body_block %}