{% extends 'main/base.html' %}

{% block title_block %}
   {% comment %} <h1 style="text-align:center">{{ name }}</h1> {% endcomment %}
{% endblock %}



{% block body_block %}




    <div style="text-align:center; margin-top:50px;">
        {% if messages %}
            <ul style="list-style-type:none; margin-bottom:30px;" class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="get">
            {% csrf_token %}
        <div class="col-md-3">
            <label>Options</label>
            <select name="message_option" class="form-control">
                {% if user.user_type == 2 %}
                    <option value = "Unread" selected>Unread Messages</option>
                    <option value = "Read">Read Messages</option>
                    <option value = "Sent">Sent Messages</option>
                    <option value = "Upcoming">Upcoming Appointments</option>
                {% elif user.user_type == 1 %}
                    <option value = "Unread">Unread Messages</option>
                    <option value = "Read">Read Messages</option>
                    <option value = "Sent">Sent Messages</option>
                    <option value = "Upcoming">Booked Appointments</option>
                    <option value = "Unaccepted">Open Appointmentents</option>
                    <option value = "Tutor Requests" selected>Open Requests</option>
                {% endif %}
            </select>
            <br>
            <input type="submit" value="View">
        </div>
        </form>
        {% if page %}
            <h1>{{page}}</h1>
        {% if page == "Unread" %}
            {% if unread_received_texts %}
                {% for text in unread_received_texts %}
                    <fieldset>
                                <div style="text-align:center;">
                                    <table style ="..." style="margin: 20px auto; border-collapse: collapse; text-align: center;">
                                        <thead>
                                        <tr style = "...">
                                            <th style="...">Subject</th>
                                            <th style="...">Content</th>
                                            <th style="...">Date</th>
                                            <th style="...">Action</th>
                                        </tr>
                                        </thead>
                                        <tr>
                                            <td style="...">{{ text }}</td>
                                            <td style="...">{{ text.content }}</td>
                                            <td style="...">{{ text.time_stamp }}</td>
                                            <td style="...">
                                            <form method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-success" name="Mark as Read" type="submit" value="{{ text.id }}">Mark as Read</button>
                                                <button class="btn btn-danger" name="Delete" type="submit" value="{{ text.id }}">Delete</button>
                                                {% if text.sender %}
                                                <input type="text" class="form-control" name="reply_message" placeholder="Leave a Reply">
                                                <button class="btn btn-warning" name="Reply" type="submit" value="{{ text.id }}">Reply</button>
                                                {% endif %}
                                            </form>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                </fieldset>
                {% endfor %}
            {% else %}
                <h3 style>You have no unread messages</h3>
            {% endif %}
        {% elif page == "Read" %}
            {% if read_texts %}
                {% for text in read_texts %}
                    <fieldset>
                                <div style="text-align:center;">
                                    <table style ="..." style="margin: 20px auto; border-collapse: collapse; text-align: center;">
                                        <thead>
                                        <tr style = "...">
                                            <th style="...">Subject</th>
                                            <th style="...">Content</th>
                                            <th style="...">Date</th>
                                            <th style="...">Action</th>
                                        </tr>
                                        </thead>
                                        <tr>
                                            <td style="...">{{ text }}</td>
                                            <td style="...">{{ text.content }}</td>
                                            <td style="...">{{ text.time_stamp }}</td>
                                            <td style="...">
                                            <form method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-danger" name="Delete" type="submit" value="{{ text.id }}">Delete</button>
                                                {% if text.sender %}
                                                <input type="text" class="form-control" name="reply_message" placeholder="Leave a Reply">
                                                <button class="btn btn-warning" name="Reply" type="submit" value="{{ text.id }}">Reply</button>
                                                {% endif %}
                                            </form>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                </fieldset>
                {% endfor %}
            {% else %}
                <h3>You have no read messages</h3>
            {% endif %}
        {% elif page == "Sent" %}
            {% if sent_texts %}
                {% for text in sent_texts %}
                    <fieldset>
                                <div style="text-align:center;">
                                    <table style ="..." style="margin: 20px auto; border-collapse: collapse; text-align: center;">
                                        <thead>
                                        <tr style = "...">
                                            <th style="...">Subject</th>
                                            <th style="...">Content</th>
                                            <th style="...">Date</th>
                                            <th style="...">Action</th>
                                        </tr>
                                        </thead>
                                        <tr>
                                            <td style="...">{{ text }}</td>
                                            <td style="...">{{ text.content }}</td>
                                            <td style="...">{{ text.time_stamp }}</td>
                                            <td style="...">
                                            <form method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-danger" name="Delete" type="submit" value="{{ text.id }}">Delete</button>
                                            </form>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                </fieldset>
                {% endfor %}
            {% else %}
                <h3>You have no sent messages</h3>
            {% endif %}
        {% elif page == "Upcoming" %}
            {% if booked %}
                {% for item in booked %}
                    <fieldset>
                                <div style="text-align:center;">
                                    <table style ="..." style="margin: 20px auto; border-collapse: collapse; text-align: center;">
                                        <thead>
                                        <tr style = "...">
                                            <th style="...">Subject</th>
                                            {%if user.user_type == 2 %}
                                            <th style="...">Tutor</th>
                                            {%elif user.user_type == 1 %}
                                            <th style="...">Student</th>
                                            {% endif %}
                                            <th style="...">Action</th>
                                        </tr>
                                        </thead>
                                        <tr>
                                            <td style="...">{{ item }}</td>
                                            {%if user.user_type == 2 %}
                                            <td style="...">{{ item.tutor }}</td>
                                            {%elif user.user_type == 1 %}
                                            <td style="...">{{ item.student }}</td>
                                            {% endif %}
                                            <td style="...">
                                            <form method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-danger" name="Delete_Event" type="submit" value="{{ item.id }}">Delete</button>
                                            </form>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                </fieldset>
                {% endfor %}
            {% else %}
                <h3>You have no booked appointments</h3>
            {% endif %}
        {% elif page == "Unaccepted" %}
            {% if unbooked %}
                {% for item in unbooked %}
                    <fieldset>
                                <div style="text-align:center;">
                                    <table style ="..." style="margin: 20px auto; border-collapse: collapse; text-align: center;">
                                        <thead>
                                        <tr style = "...">
                                            <th style="...">Subject</th>
                                            <th style="...">Action</th>
                                        </tr>
                                        </thead>
                                        <tr>
                                            <td style="...">{{ item }}</td>
                                            <td style="...">
                                            <form method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-danger" name="Delete_Event" type="submit" value="{{ item.id }}">Delete</button>
                                            </form>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                </fieldset>
                {% endfor %}
            {% else %}
                <h3>You have no unbooked appointments</h3>
            {% endif %}
        {% elif page == "Tutor Requests" %}
            {% if requests %}
                <fieldset>
                    {% for month in sorted_calendar %}
                        <legend>{{month}} Requests</legend>
                            {% for request in requests %}
                                {% if month == request.event_month %}
                                <fieldset>
                                <div style="text-align:center;">
                                    <table style ="..." style="margin: 20px auto; border-collapse: collapse; text-align: center;">
                                        <thead>
                                        <tr style = "...">
                                            <th style="...">Date</th>
                                            <th style="...">Request</th>
                                            <th style="...">Action</th>
                                        </tr>
                                        </thead>
                                        <tr>
                                            <td style="...">{{ request.event_weekday }} {{ request.event_month }} {{ request.event_day }}</td>
                                            <td style="...">{{ request }}</td>
                                            <td style="...">
                                            <form method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-success" name="Accept" type="submit" value="{{ request.id }}">Accept</button>
                                                <button class="btn btn-danger" name="Reject" type="submit" value="{{ request.id }}">Reject</button>
                                            </form>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                </fieldset>
                        {% endif %}
                    {% endfor %}
                    {% endfor %}
                </fieldset>
            {% else %}
                <h3>You have no Requests</h3>
            {% endif %}
        {% endif %}
        {% else %}
            {% if user.user_type == 2 %}
            <h1>Unread</h1>
            {% if unread_received_texts %}
                {% for text in unread_received_texts %}
                    <fieldset>
                                <div style="text-align:center;">
                                    <table style ="..." style="margin: 20px auto; border-collapse: collapse; text-align: center;">
                                        <thead>
                                        <tr style = "...">
                                            <th style="...">Subject</th>
                                            <th style="...">Content</th>
                                            <th style="...">Date</th>
                                            <th style="...">Action</th>
                                        </tr>
                                        </thead>
                                        <tr>
                                            <td style="...">{{ text }}</td>
                                            <td style="...">{{ text.content }}</td>
                                            <td style="...">{{ text.time_stamp }}</td>
                                            <td style="...">
                                            <form method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-success" name="Mark as Read" type="submit" value="{{ text.id }}">Mark as Read</button>
                                                <button class="btn btn-danger" name="Delete" type="submit" value="{{ text.id }}">Delete</button>
                                                {% if text.sender %}
                                                <input type="text" class="form-control" name="reply_message" placeholder="Leave a Reply">
                                                <button class="btn btn-warning" name="Reply" type="submit" value="{{ text.id }}">Reply</button>
                                                {% endif %}
                                            </form>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                </fieldset>
                {% endfor %}
            {% else %}
                    <h3 style="margin-top:20px;">You have no unread messages</h3>
            {% endif %}
        {% elif user.user_type == 1 %}
            <h1>Tutor Requests</h1>
            {% if requests %}
                <fieldset>
                    {% for month in sorted_calendar %}
                        <legend>{{month}} Requests</legend>
                            {% for request in requests %}
                                {% if month == request.event_month %}
                                <fieldset>
                                <div style="text-align:center;">
                                    <table style ="..." style="margin: 20px auto; border-collapse: collapse; text-align: center;">
                                        <thead>
                                        <tr style = "...">
                                            <th style="...">Date</th>
                                            <th style="...">Request</th>
                                            <th style="...">Action</th>
                                        </tr>
                                        </thead>
                                        <tr>
                                            <td style="...">{{ request.event_weekday }} {{ request.event_month }} {{ request.event_day }}</td>
                                            <td style="...">{{ request }}</td>
                                            <td style="...">
                                            <form method="post">
                                                {% csrf_token %}
                                                <button class="btn btn-success" name="Accept" type="submit" value="{{ request.id }}">Accept</button>
                                                <button class="btn btn-danger" name="Reject" type="submit" value="{{ request.id }}">Reject</button>
                                            </form>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                </fieldset>
                        {% endif %}
                    {% endfor %}
                    {% endfor %}
                </fieldset>
            {% else %}
                <h3>You have no Requests</h3>
            {% endif %}
        {% endif %}

        {% endif %}
    </div>

{% endblock body_block %}
