{% extends 'main/base.html' %}

{% block title_block %}
    <h1>{{ name }} Page</h1>
{% endblock %}

{% block body_block %}
    {% if messages %} 
        <ul style = "list-style-type: none;" class="messages">
            {%for message in messages %}
             <li {% if message.tags %} class = "{{message.tags}}" {% endif %}> {{message}} </li>
            {% endfor %}
        </ul>
    {% endif %}
    
    Find Tutors
    <form action= "searchbar/" method="get">
        find mnemonic: <input type="text" name="mnemonic">
        <input type="submit" value="Submit" />
    </form>
    


{% endblock %}