{% extends 'main/base.html' %}

{% block title_block %}
   <h1 style="text-align:center">{{ name }} Search Class Mnemonic</h1>
{% endblock %}



{% block body_block %}




    <div style="text-align:center; margin-top:50px;">
        {% if messages %}
            <ul style="list-style-type:none; margin-bottom:30px;" class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if user.user_type == 2 %}
            <h3 style="margin-top:20px;">Find Tutors</h3>
        {% elif user.user_type == 1 %}
            <h3 style="margin-top:50px;">Find Classes to Tutor</h3>
        {% endif %}
            <form action="searchbar/" method="get" style="display:flex; justify-content:center; align-items:center; margin-top:20px;">
                <div class="input-group" style="max-width:500px;">
                    <input type="text" class="form-control" name="mnemonic" placeholder="Search by mnemonic...">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
    </div>

{% endblock body_block %}
