{% extends 'main/base.html' %}

{% block title_block %}
        <h1>{{ header }}</h1>
{% endblock %}



{% block body_block %}
    <ul>
        {% for item in ls %}
            <li> {{item.class_id}} </li>
        {% endfor %}
    </ul>

<body>
    <h1>Time Availability</h1>
    <form method="post">
      {% csrf_token %}
      <fieldset>
        <legend>Monday</legend>
        <label>From:</label>
        <input type="time" name="monday-from">
        <label>To:</label>
        <input type="time" name="monday-to">
      </fieldset>
      <fieldset>
        <legend>Tuesday</legend>
        <label>From:</label>
        <input type="time" name="tuesday-from">
        <label>To:</label>
        <input type="time" name="tuesday-to">
      </fieldset>
      <fieldset>
        <legend>Wednesday</legend>
        <label>From:</label>
        <input type="time" name="wednesday-from">
        <label>To:</label>
        <input type="time" name="wednesday-to">
      </fieldset>
      <fieldset>
        <legend>Thursday</legend>
        <label>From:</label>
        <input type="time" name="thursday-from">
        <label>To:</label>
        <input type="time" name="thursday-to">
      </fieldset>
      <fieldset>
        <legend>Friday</legend>
        <label>From:</label>
        <input type="time" name="friday-from">
        <label>To:</label>
        <input type="time" name="friday-to">
      </fieldset>
      <fieldset>
        <legend>Saturday</legend>
        <label>From:</label>
        <input type="time" name="saturday-from">
        <label>To:</label>
        <input type="time" name="saturday-to">
      </fieldset>
      <fieldset>
        <legend>Sunday</legend>
        <label>From:</label>
        <input type="time" name="sunday-from">
        <label>To:</label>
        <input type="time" name="sunday-to">
      </fieldset>
      <br>
      <input type="submit" value="Submit">
    </form>
  </body>

{% endblock %}