{% extends 'main/base.html' %}
{% block title_block %}
{% comment %} <h1>{{ name }}</h1> {% endcomment %}
{% endblock title_block %}
{% block body_block %}
<!DOCTYPE html>
<html>
<head>
    <title>Laravel 9 Ajax FullCalender CRUD (Create, Read, Update and Delete)</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
      
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
</head>
<body>
<div class="container" style = "height: 70%; width: 70%">
 <div class="row"> 
    {% block content %}
    {% if user.user_type == 1 %}
     <div class="dropdown">
    <form name="formid">
        <select name="ddlselect" onchange="get_groups()">
            {% if groups %}
            {% for group in groups %}
                <option value ="{{group.name}}">{{group.name}}</option>
            {% endfor %}
            {% else %}}
                <option value ="None">No available classes</option>
            {% endif %}
        </select>
    </form>
         <label id="groupDropdown"></label>
    </div>
    {% endif %}
    <div class="col-md-12">    
        <div id='calendar'></div> 
    </div> 
    {% endblock content %}
 </div>
</div>


<script>
    /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function get_groups() {
  document.getElementById("groupDropdown").classList.toggle("show");
}
   $(document).ready(function () {
       var calendar = $('#calendar').fullCalendar({
           header: {
               left: 'prev,next today',
               center: 'title',
               right: 'month,agendaWeek,agendaDay'
           },
           events: 'all_events',
           selectable: true,
           selectHelper: true,
           editable: true,
           eventLimit: true,
           select: function (start, end, allDay) {
               var now = new Date()
               var hour = now.getHours()
               var day = now.getDate()
               var month = now.getMonth() + 1
               var year = now.getFullYear()
               var title = formid.ddlselect[formid.ddlselect.selectedIndex].text
                    if (title != "No available classes") {
                        if (end - start != 86400000) {
                            if (confirm("The event will be added to : " + formid.ddlselect[formid.ddlselect.selectedIndex].text)) {
                                var start_year = Number($.fullCalendar.formatDate(start, "Y"));
                                var start_month = Number($.fullCalendar.formatDate(start, "MM"));
                                var start_day = Number($.fullCalendar.formatDate(start, "DD"));
                                var start_hour = Number($.fullCalendar.formatDate(start, "HH"));
                                var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
                                var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");
                                $.ajax({
                                    type: "GET",
                                    url: '/add_event',
                                    data: {'title': title, 'start': start, 'end': end},
                                    dataType: "json",
                                    success: function (data) {
                                        calendar.fullCalendar('refetchEvents');
                                        if (year <= start_year && month <= start_month) {
                                            if (day < start_day ||  (day == start_day && hour <= start_hour) || (start_month>month && start_year>=year)) {
                                                    alert("Added Successfully");
                                            }
                                            else{
                                                alert("Events not created, because the date has already passed");
                                            }
                                        }
                                        else{
                                            alert("Events not created, because the date has already passed");
                                        }
                                    },
                                    error: function (data) {
                                        alert('There is a problem!!!');
                                    }
                                });
                            }
                        }
                        else {
                            alert('To add an appointment click on the week or day, and select the time slots that you want to add.')
                        }
                    }
                    else {
                        alert("To add appointments to your schedule\n" +
                            "you need to sign up to tutor a class!");
                    }
           },
           eventResize: function (event) {
               var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
               var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
               var title = event.title;
               var id = event.id;
               $.ajax({
                   type: "GET",
                   url: '/update',
                   data: {'title': title, 'start': start, 'end': end, 'id': id},
                   dataType: "json",
                   success: function (data) {
                       calendar.fullCalendar('refetchEvents');
                       alert('Event Update');
                   },
                   error: function (data) {
                       alert('There is a problem!!!');
                   }
               });
           },
 
           eventDrop: function (event) {
               var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
               var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
               var title = event.title;
               var id = event.id;
               $.ajax({
                   type: "GET",
                   url: '/update',
                   data: {'title': title, 'start': start, 'end': end, 'id': id},
                   dataType: "json",
                   success: function (data) {
                       calendar.fullCalendar('refetchEvents');
                       alert('Event Update');
                   },
                   error: function (data) {
                       alert('There is a problem!!!');
                   }
               });
           },
 
           eventClick: function (event) {
               if (confirm("Are you sure you want to remove it?")) {
                   var id = event.id;
                   $.ajax({
                       type: "GET",
                       url: '/remove',
                       data: {'id': id},
                       dataType: "json",
                       success: function (data) {
                           calendar.fullCalendar('refetchEvents');
                           alert('Event Removed');
                       },
                       error: function (data) {
                           alert('There is a problem!!!');
                       }
                   });
               }
           },
 
       });
   });
 
</script>
</body>
</html>
{% endblock body_block %}