{% extends 'main/base.html' %}

{% block title_block %}
    <h1>{{ name}} Student Home
        {{a}}
    </h1>
{% endblock %}

{% block body_block %}
    Find Tutors
    <form method="get">
        {{filters.form}}
        <input type = "submit" value = "Search" name ="">

    </form>

    <hr>
        
    <form method="get">
        {% comment %} {% block table_block %} {% endcomment %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th> Class id </th>
                    <th> Class name </th>
                    <th> Professors </th>
                    <th> Available Tutor </th>
                </tr>
            </thead>
            <tbody>
                {% for item in filters.qs %}
                    <tr>
                        <td> {{item.class_id}}</td>
                        <td> {{item.class_name}}</td>
                        <td> {{item.professors}}</td>
                        <td> {{item.available_tutors}}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>

          {% comment %} {%endblock%} {% endcomment %}
    </form>
    

{% endblock %}



<!--    <form method="Post" class="form-switcher">-->
<!--        {% csrf_token %}-->
<!--        {{ selection }}-->
<!--        {{ context }}-->

<!--        <button type="submit" name="GoTo">GoTo</button>-->
<!--    </form>-->